
*{
    padding:0;
    margin:0;
     box-sizing: border-box;
}
body{
    width:100vw;
    height:100vh;
}
.content{
    display: flex;
    
    position:relative;
    align-items: center;
    gap:5rem;
    width:100%;
    height:100%;
    background: rgb(202, 241, 247);
    width:100%;
}
.umbrella-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
    flex-direction: column;
    position:relative
    
}

#spinner{
    position: absolute;
    top:-52px;
    left:40%;
    width:20%;
    
     animation: spin 1s linear infinite;
}

.spin{
    animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#logo{
    position: absolute;
    top:90%;
    display: none;
    left:50%;
    transform: translate(-50%, -50%);
    width:9%;
    opacity:0.8;
    cursor:grabbing ;

}
#umbrella-img{
    width:50%;
    
    height: fit-content;
    

}
.text-content{
    width:50%;
    
    display: flex;
    flex-direction: column;
    gap:1.2rem;
    
    

}
h2{
    font-size: 3.4rem;
}
.color-pallette{
    display: flex;
    gap:3rem;
    margin-left: 1.2rem;
}
.btn{
 width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
#blue{
    background-color: #4F8CFF;
}
#pink{
     background-color: #FF4FB6;
}
#yellow{
     background-color: #FFD500;;
}
h5{margin-top: 12px;
    font-size: 2rem;
}
.text-description p{
    font-size: 20px;
    margin-top: 12px;
}

 .upload-btn{
     width: 26rem;
      color:white;
    padding: 0.4rem;
    font-size: 1.5rem;
    background-color: #4F8CFF;
    border: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    gap:3.9rem;
    cursor: pointer;
    

}

.style-panel {
  width: 280px;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  position: absolute;
  left:30%;
  top: 15%;
  display: none;
  margin:12px;
  transform: translateY(-50%);
   /* hidden initially */
  z-index: 999;
  
}

.style-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  font-weight: bold;
}

.close-btn {
  background: red;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.style-logo-btn{
    padding:3px;
    cursor:no-drop;
    display: none;
    background: pink;
    cursor:pointer;
    color:blue;
    border-radius: 9px;
    font-size: 22px;
    border: none;
    color: #ffffff;
}
.add-color{
     background: rgb(209, 207, 207);
     color:white;

}